#container{display: flex; flex-direction: column; position: relative;}
.row{display: flex; flex-direction: row;}
.block{height: 20px; width: 20px; background-color:green;}
.wall{height: 20px; width: 20px; background-color:black;}
.start{height: 20px; width: 20px; background-color: yellow;}
.final{height: 20px; width: 20px; background-color: rgb(9, 0, 128);}
.player{height: 20px; width: 20px; background-color: rgb(139, 18, 45);position: absolute; border: 1px dotted black;top: 180px; left:0px;}
#win{display: none;;}




